:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
	--border-radius: 1rem;

	font-family: 'Outfit', sans-serif;
	font-size: 15px;
}
* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--light-gray);
}

h2,
p {
	padding: 0 1em;
}

.card {
	border-radius: var(--border-radius);
	background-color: var(--white);
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.card-content {
	max-width: 300px;
}

.card img {
	border-radius: calc(0.618 * var(--border-radius));
	max-width: 300px;
}

.card p {
	color: var(--grayish-blue);
}
